pipeline/PL_Cube_FirewallUpdate_Automate.json
{
    "name": "PL_Cube_FirewallUpdate_Automate",
    "properties": {
        "description": "This pipeline will whitelist IP in CUBE",
        "activities": [
            {
                "name": "ACT_GetFirewallRules",
                "description": "",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": {
                        "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.Subscription}/resourceGroups/@{pipeline().parameters.ResourceGroupNm}/providers/Microsoft.AnalysisServices/servers/@{pipeline().parameters.CubeNm}?api-version=2017-08-01",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{\n\t\"properties\": {\n\t\t\"ipV4FirewallSettings\": {\n\t\t\t\"firewallRules\": [\n\t\t\t\t{\n\t\t\t\t\t\"firewallRuleName\": \"@{pipeline().parameters.IpFirewallName}\",\n\t\t\t\t\t\"rangeStart\": \"@{pipeline().parameters.IpStartRange}\",\n\t\t\t\t\t\"rangeEnd\": \"@{pipeline().parameters.IpEndRange}\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"enablePowerBIService\": true\n\t\t}\n\n}",
                        "type": "Expression"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            },
            {
                "name": "ACT_MergeIPWithExisting",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "ACT_GetFirewallRules",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "Range",
                    "value": {
                        "value": "@if(\n  contains(activity('ACT_GetFirewallRules').output.properties, 'ipV4FirewallSettings'),\n  json(concat(\n    '[',\n      join(\n        activity('ACT_GetFirewallRules').output.properties.ipV4FirewallSettings.firewallRules,\n        ','\n      ),\n      ',{\"firewallRuleName\":\"',\n        pipeline().parameters.IpFirewallName,\n        '\",\"rangeStart\":\"',\n        pipeline().parameters.IpStartRange,\n        '\",\"rangeEnd\":\"',\n        pipeline().parameters.IpEndRange,\n      '\"}',\n    ']'\n  )),\n  json(concat(\n    '[{\"firewallRuleName\":\"',\n    pipeline().parameters.IpFirewallName,\n    '\",\"rangeStart\":\"',\n    pipeline().parameters.IpStartRange,\n    '\",\"rangeEnd\":\"',\n    pipeline().parameters.IpEndRange,\n    '\"}]'\n  ))\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "ACT_UpdateIP",
                "description": "Rotates the specified key of the given storage account",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "ACT_MergeIPWithExisting",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "PATCH",
                    "url": {
                        "value": "https://management.azure.com/subscriptions/@{pipeline().parameters.Subscription}/resourceGroups/@{pipeline().parameters.ResourceGroupNm}/providers/Microsoft.AnalysisServices/servers/@{pipeline().parameters.CubeNm}?api-version=2017-08-01",
                        "type": "Expression"
                    },
                    "body": {
                        "value": "{\n\t\"properties\": {\n\t\t\"ipV4FirewallSettings\": {\n\t\t\t\"firewallRules\": @{variables('Range')} ,\n\t\t\t\"enablePowerBIService\": true\n\t\t}\n\t\t}\n\n}",
                        "type": "Expression"
                    },
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            }
        ],
        "parameters": {
            "EnvName": {
                "type": "string",
                "defaultValue": "UAT"
            },
            "IpStartRange": {
                "type": "string",
                "defaultValue": "20.38.80.192"
            },
            "IpEndRange": {
                "type": "string",
                "defaultValue": "20.38.80.255"
            },
            "IpFirewallName": {
                "type": "string",
                "defaultValue": "SampleViaADF"
            },
            "Subscription": {
                "type": "string"
            },
            "ResourceGroupNm": {
                "type": "string"
            },
            "CubeNm": {
                "type": "string"
            }
        },
        "variables": {
            "Range": {
                "type": "Array"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-06-29T07:58:41Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
